@charset "UTF-8";
/* ===== Background ===== */
body {
	margin: 0;
	min-height: 100vh;
	background: linear-gradient(135deg, #667eea, #764ba2);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Segoe UI', sans-serif;
}

/* ===== container Card ===== */
.container {
	width: 480px;
	padding: 35px;
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(15px);
	box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);
	color: white;
}

/* Heading */
h1 {
	text-align: center;
	margin-bottom: 25px;
	font-size: 26px;
	letter-spacing: 1px;
}

/* Labels */
label {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 5px;
	display: block;
}

/* Inputs */
input {
	width: 100%;
	padding: 11px;
	border-radius: 8px;
	border: none;
	margin-bottom: 18px;
	font-size: 14px;
	outline: none;
}

input:focus {
	box-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
}

/* Button */
button {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 8px;
	background: linear-gradient(to right, #1d4ed8, #2563eb);
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.5s;
	margin-left: 10px;
	display: block;
}

button:hover {
	background: linear-gradient(to right, #1e3a8a, #1d4ed8);
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
/* Footer text */
.footer-text {
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
	opacity: 0.8;
}

.footer-text a {
	color: white;
	text-decoration: none;
	font-weight: 600;
	transition: 0.3s;
}

.footer-text a:hover {
	color: #ffcccb;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}
.input-box {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 12px 15px 12px 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 7px;
}

.input-box i {
    position: absolute;
    right: 0px;
    top: 40%;
    transform: translateY(-50%);
    color: #777;
    font-size: 18px;
    pointer-events: none;
}